<img src="billow926-Fmkf0HZPPsQ-unsplash.jpg">
<p><center>Photo by <a href="https://unsplash.com/@billow926?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">billow926</a> on <a href="https://unsplash.com/photos/panda-bear-on-tree-trunk-Fmkf0HZPPsQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </center></p>

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(pd.read_csv("advertising.csv"))

In [6]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
# These are the names of the 4 columns, the data they contain is of type Float (real numbers), and neither is null
# That's a good start

In [8]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
# This command provides descriptive statistic data for the 4 columns

<div class="alert alert-success">
<center>
<h2>Data Cleaning</h2>
</center>
</div>

In [11]:
# 1. Start with checking the Null values
df.isnull().sum()*100/df.shape[0]

# Note that deviding by df.shape[0] is deviding by the number of records (rows) in the dataframe
# shape returns two values, value 0 is number of records, value 1 is number of columns

TV           0.0
Radio        0.0
Newspaper    0.0
Sales        0.0
dtype: float64

In [ ]:
# This dataset is already clean